
services:
  mongo:
      image: mongo:8.2
      restart: always
      ports:
        - 27017:27017
      environment:
        MONGO_INITDB_ROOT_USERNAME_FILE: ${MONGO_INITDB_ROOT_USERNAME_FILE}
        MONGO_INITDB_ROOT_PASSWORD_FILE: ${MONGO_INITDB_ROOT_PASSWORD_FILE}
      volumes:
        - ./mongo:/var/lib/mongo/data
      secrets:
      - mongo_initdb_user
      - mongo_initdb_pass


secrets:
  mongo_initdb_user:
    file: ./credentials/mongo_initdb_user.txt
  mongo_initdb_pass:
    file: ./credentials/mongo_initdb_pass.txt


volumes:
  mongo:
